<form [formGroup]="apiForm" (ngSubmit)="onPublish()">
    <mat-form-field class="text-container" color="accent">
        <textarea matInput formControlName="json" placeholder="JSON"
                  matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="10">
        </textarea>
    </mat-form-field>
    <br />
    <br />
    <button mat-raised-button color="accent" type="button" (click)="onPublish()">Publish</button>
    &nbsp;
    <button mat-raised-button color="warn" type="button" (click)="onUnpublish()">Unpublish</button>
    <br />
    <br />
    <mat-form-field class="text-container" color="warn">
        <textarea matInput formControlName="results" placeholder="Results"
                  matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="10">
        </textarea>
    </mat-form-field>
</form>