<h2>
  Midnight Lizard<br />
  Web-Extension Privacy Policy
</h2>
<p>
  Your privacy is important to us. It is Midnight Lizard's
  policy to respect your privacy regarding any information
  being processed by the extension downloaded from one of
  these addresses:
</p>
<ol type="a">
  <li>
    <em>Chrome Web Store:</em><br />
    <a target="_blank" href="https://chrome.google.com/webstore/detail/midnight-lizard/pbnndmlekkboofhnbonilimejonapojg">https://chrome.google.com/webstore/detail/midnight-lizard/pbnndmlekkboofhnbonilimejonapojg</a>
  </li>
  <br />
  <li>
    <em>Firefox Add-ons:</em><br />
    <a target="_blank" href="https://addons.mozilla.org/firefox/addon/midnight-lizard-quantum">https://addons.mozilla.org/firefox/addon/midnight-lizard-quantum</a>
  </li>
</ol>
<p>
  If you have downloaded this extension from any other
  location this privacy policy would not be applicable to
  it since its source code might have been altered.
</p>
<p>
  Midnight Lizard web-extension does not collect any of
  your personal information, browsing history, IP
  addresses, etc. Also it does not sell or transfer your
  personal information to advertisers or other
  third-parties.
</p>
<p>
  Midnight Lizard web-extension does not use
  <a target="_blank" href="https://en.wikipedia.org/wiki/HTTP_cookie">browser
    cookies</a>.
  To optimize initial page load it stores last applied
  brightness level in
  <a target="_blank" href="https://developer.mozilla.org/docs/Web/API/Window/localStorage">localStorage</a>.
  To optimize consequent page loads it caches styles and
  images processing results in
  <a target="_blank" href="https://developer.mozilla.org/docs/Web/API/Window/sessionStorage">sessionStorage</a>.
</p>
<p>
  To store user settings Midnight Lizard web-extension uses
  <a target="_blank" href="https://developer.chrome.com/apps/storage">chrome.storage</a>
  in Chromium-based browsers and
  <a target="_blank" href="https://developer.mozilla.org/docs/Mozilla/Add-ons/WebExtensions/API/storage">browser.storage</a>
  in Firefox. By default user settings are synchronized
  between user devices but this behavior can be opted
  out on the Global settings tab.
</p>
<p>
  Midnight Lizard web-extension has links to external sites
  that are not operated by us. Please be aware that we have
  no control over the content and practices of these sites,
  and cannot accept responsibility or liability for their
  respective privacy policies.
</p>
<p>
  In the future Midnight Lizard web-extension might include
  user login form in order to provide some personalized
  services to the user. Any personal information exchange
  related to this will be a subject of the <a routerLink="/privacy">Website
    Privacy Policy</a>.
</p>
<p>This policy is effective as of 1 January 2019.</p>