<div fxLayout="row">
  <mat-icon class="level" fxFlexAlign="center" [ngClass]="msg.level">{{msg.level}}</mat-icon>
  <span class="message" fxFlex fxFlexAlign="center">{{msg.message}}</span>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
    <button *ngIf="msg.data" fxFlexAlign="center"
            mat-button matTooltip="Show message details"
            (click)="showMessageDetails()">
      DETAILS
    </button>
    <ng-template ngFor let-act [ngForOf]="msg.actions">
      <a *ngIf="act.infoButtonType === 'raised'"
         mat-raised-button fxFlexAlign="center" [color]="act.color || 'primary'"
         [matTooltip]="act.description" [routerLink]="act.route">
        {{act.infoTitle}}
      </a>
      <a *ngIf="act.infoButtonType === 'stroked'"
         mat-stroked-button fxFlexAlign="center" [color]="act.color || 'primary'"
         [matTooltip]="act.description" [routerLink]="act.route">
        {{act.infoTitle}}
      </a>
      <a *ngIf="act.infoButtonType === 'flat'"
         mat-flat-button fxFlexAlign="center" [color]="act.color || 'primary'"
         [matTooltip]="act.description" [routerLink]="act.route">
        {{act.infoTitle}}
      </a>
      <a *ngIf="!act.infoButtonType || act.infoButtonType === 'basic'"
         mat-button fxFlexAlign="center" [color]="act.color || 'primary'"
         [matTooltip]="act.description" [routerLink]="act.route">
        {{act.infoTitle}}
      </a>
    </ng-template>
  </div>
  <button class="close-button" mat-icon-button fxFlexAlign="center" matTooltip="Dismiss"
          (click)="dismissMessage()">
    <mat-icon>close</mat-icon>
  </button>
</div>