<div fxLayout="row">
  <mat-icon class="level"
            fxFlexAlign="center"
            [ngClass]="msg.level">{{msg.level}}</mat-icon>
  <span class="message"
        fxFlex
        fxFlexAlign="center">{{msg.message}}</span>
  <button *ngIf="msg.data"
          fxFlexAlign="center"
          mat-button
          matTooltip="Show message details"
          (click)="showMessageDetails()">
    DETAILS
  </button>
  <a *ngFor="let act of msg.actions"
     mat-button
     fxFlexAlign="center"
     [matTooltip]="act.description"
     [routerLink]="act.route">
    {{act.title}}
  </a>
  <button mat-icon-button
          fxFlexAlign="center"
          matTooltip="Dismiss"
          (click)="dismissMessage()">
    <mat-icon>close</mat-icon>
  </button>
</div>