@import "theme.scss";
.mat-icon {
    &.level {
        &.error {
            color: mat-color($ml-warn, 500);
        }
        &.warning {
            color: mat-color($ml-alert, A700);
        }
        &.info {
            color: mat-color($ml-accent, A200);
        }
    }
}

.message {
    padding: 0px 5px 0px 15px;
}

.details {
    white-space: pre-wrap;
    text-indent: 20px;
    text-align: justify;
}