<div fxLayout="column">
  <div fxLayout="row">
    <mat-icon class="level"
              fxFlexAlign="center"
              [ngClass]="msg.level">{{msg.level}}</mat-icon>
    <span class="message"
          fxFlex
          fxFlexAlign="center">{{msg.message}}</span>
    <button mat-icon-button
            matTooltip="Close"
            (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <pre class="details">{{msg.data | json | trim: '"' | replace: lineBreaksRegExp: '\n'}}</pre>
  <div *ngIf="msg.actions"
       fxLayoutAlign="end">
    <ng-template ngFor
                 let-act
                 [ngForOf]="msg.actions">
      <a *ngIf="!act.detailsButtonType || act.detailsButtonType === 'raised'"
         mat-raised-button
         fxFlexAlign="center"
         [color]="act.color || 'primary'"
         [matTooltip]="act.description"
         [routerLink]="act.route">
        {{act.title}}
      </a>
      <a *ngIf="act.detailsButtonType === 'stroked'"
         mat-stroked-button
         fxFlexAlign="center"
         [color]="act.color || 'primary'"
         [matTooltip]="act.description"
         [routerLink]="act.route">
        {{act.title}}
      </a>
      <a *ngIf="act.detailsButtonType === 'flat'"
         mat-flat-button
         fxFlexAlign="center"
         [color]="act.color || 'primary'"
         [matTooltip]="act.description"
         [routerLink]="act.route">
        {{act.title}}
      </a>
      <a *ngIf="act.detailsButtonType === 'basic'"
         mat-button
         fxFlexAlign="center"
         [color]="act.color || 'primary'"
         [matTooltip]="act.description"
         [routerLink]="act.route">
        {{act.title}}
      </a>
    </ng-template>
  </div>
</div>