@import 'theme.scss';
.section {
    margin: 0 auto;
    margin-block-end: 50px;
    max-width: 720px;
    &:first-child {
        margin-block-start: 20px
    }
    &.small {
        margin-block-end: 30px;
    }
    h2.small {
        margin-bottom: 0px;
    }
}

.details {
    font-size: 16px;
}

.image {
    width: 200px;
    height: 200px;
    &.small {
        width: 120px;
        height: 120px;
    }
    &.logo {
        line-height: 120px;
        width: 120px;
        height: 120px;
        background-color: $ml-background;
        border-radius: 50%;
        @include mat-elevation(3);
        &.small {
            width: 80px;
            height: 80px;
            margin: 10px 0px 18px 0px;
        }
    }
}

.image-container {
    position: relative;
    height: 200px;
    width: 200px;
    &.small {
        height: 120px;
        width: 120px;
    }
}

.image-container:after {
    content: "";
    --ml-ignore:true;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.86) hue-rotate(180deg) invert(1);
}
.image-container.sides:after {
    background-image: url(/assets/intro/sides.svg);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.image-container.contrast:after {
    background-image: url(/assets/intro/contrast.svg);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.image-container.devices:after {
    background-image: url(/assets/intro/devices.svg);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.image-container.schedule:after {
    background-image: url(/assets/intro/schedule.svg);
    clip-path: polygon(49.5% 53%, 0 100%, 100% 100%, 100% 0, 50% 0);
}

.image-container.blue-light-filter:after {
    background-image: url(/assets/intro/blue-light-filter.svg);
    clip-path: polygon(20% 100%, 100% 100%, 100% 0, 80% 0);
    filter: brightness(0.86) hue-rotate(180deg) invert(1) url(#ml-intro-blue-filter);
}