<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>This page contains only scripts</title>
</head>
<body >
    @RenderSection("scripts", required: true)
    This page does not have any content!
</body>
</html>
