@import 'theme.scss';

body {
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav-container {
    background-color: $ml-background !important;
    flex: 1 1 100%;
}

.mat-drawer-content:not(.imp) {
    overflow-y: scroll;
}

.root.server .mat-drawer-content {
    margin-left: 20% !important;
}

.left-side {
    &.server {
        transform: translate3d(0px, 0px, 0px);
    }
    &:not(important) {
        width: 20%;
    }
    &.over-80 {
        width: 80%;
    }
    &.over-60 {
        width: 60%;
    }
}

.root {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.right-side {
    padding: 20px;
    background-color: $ml-background !important;
    flex: 1 1 100%;
    max-width: 21%;
    min-height: 100%;
}

.right-side.full-width {
    max-width: initial;
}

.right-side-content {
    position: sticky;
    top: 20px;
}

.sidenav-content {
    min-height: 100%;
    flex-direction: row;
    display: flex;
}

.center {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.main-content {
    padding: 20px;
    background-color: mat-color($ml-content) !important;
    flex: 1 1 100%;
}

ml-footer {
    flex: 0 1 auto;
}

.loading {
    display: none;
}

router-outlet+.loading,
.show-loading+.loading {
    display: block;
}

.mat-tooltip:not(imp) {
    background: rgba(90, 90, 90, 0.95);
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 10px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    white-space: pre-line;
}

.mat-button-toggle-label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.mat-option.mat-selected:not(imp) {
    background-color: mat-color($ml-accent, A100) !important;
    color: $ml-text-color !important;
}

.mat-ink-bar:not(imp) {
    transition-property: left;
}

.mat-list-option:hover,
.mat-list-option.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
    background-color: mat-color($ml-accent, A100, 0.1) !important;
    --ml-buttonbackground-background-color:Background;
}

:not(.mat-snack-bar-handset)>.mat-snack-bar-container {
    max-width: 50vw;
}

nav .logo.mat-icon {
    path:nth-child(1) {
        fill: hsla(93, 100%, 20%, 1);
        stroke: hsla(112, 47%, 5%, 1);
    }
    path:nth-child(2),
    path:nth-child(3) {
        fill: hsla(50, 100%, 20%, 1);
        stroke: hsla(50, 95%, 4%, 1);
    }
}
.image.logo.mat-icon {
    path:nth-child(1) {
        fill: hsla(93, 100%, 45%, 1);
        stroke: hsla(115, 46%, 15%, 1);
    }
    path:nth-child(2),
    path:nth-child(3) {
        fill: hsla(50, 100%, 45%, 1);
        stroke: hsla(51, 90%, 14%, 1);
    }
}

.mat-form-field-infix {
    min-width: 20px!important;
    width: auto!important;
}