<mat-nav-list>
  <h3 matSubheader>Get Midnight Lizard from</h3>
  <a mat-list-item target="_blank" href="https://chrome.google.com/webstore/detail/midnight-lizard/pbnndmlekkboofhnbonilimejonapojg">
    <img matListAvatar src="assets/logos/chrome.svg">
    <p matLine>Chrome</p>
    <p matLine>Web Store</p>
  </a>
  <a mat-list-item target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/midnight-lizard-quantum/">
    <img matListAvatar src="assets/logos/firefox.svg">
    <p matLine>Firefox</p>
    <p matLine>Add-ons</p>
  </a>
</mat-nav-list>