<div fxLayout="column" fxLayout.xs="row">
  <mat-nav-list fxFlex.xs="50%">
    <h3 matSubheader fxHide.xs>Get Midnight Lizard from</h3>
    <a mat-list-item target="_blank" rel="noopener"
       matTooltip="Install Midnight Lizard
        from Chrome Web Store"
       href="https://chrome.google.com/webstore/detail/midnight-lizard/pbnndmlekkboofhnbonilimejonapojg">
      <img matListAvatar fxHide.xs src="assets/logos/chrome.svg">
      <img matListIcon fxHide fxShow.xs src="assets/logos/chrome.svg">
      <p matLine class="notranslate">Chrome</p>
      <p matLine>Web Store</p>
    </a>
  </mat-nav-list>
  <mat-nav-list fxFlex.xs="50%">
    <a mat-list-item target="_blank" rel="noopener"
       matTooltip="Install Midnight Lizard
        from Firefox Add-ons"
       href="https://addons.mozilla.org/en-US/firefox/addon/midnight-lizard-quantum?src=external-portal">
      <img matListAvatar fxHide.xs src="assets/logos/firefox.svg">
      <img matListIcon fxHide fxShow.xs src="assets/logos/firefox.svg">
      <p matLine class="notranslate">Firefox</p>
      <p matLine>Add-ons</p>
    </a>
  </mat-nav-list>
  <mat-nav-list fxFlex.xs="50%">
    <a mat-list-item target="_blank" rel="noopener"
       matTooltip="Install Midnight Lizard
        from Edge Add-ons"
       href="https://microsoftedge.microsoft.com/addons/detail/cphiklljfgkgjhbmmjifjknodgbkllaj">
      <img matListAvatar fxHide.xs src="assets/logos/edge.svg">
      <img matListIcon fxHide fxShow.xs src="assets/logos/firefox.svg">
      <p matLine class="notranslate">Edge</p>
      <p matLine>Add-ons</p>
    </a>
  </mat-nav-list>
  <mat-nav-list fxHide.xs>
    <mat-divider fxHide.xs></mat-divider>
    <h3 matSubheader fxHide.xs>Keep this website running</h3>
    <a mat-list-item target="_blank" rel="noopener"
       matTooltip="Donate to Midnight Lizard
          open source collective"
       href="https://opencollective.com/midnight-lizard#contribute">
      <img matListAvatar fxHide.xs src="assets/logos/open-collective.svg">
      <img matListIcon fxHide fxShow.xs src="assets/logos/open-collective.svg">
      <p matLine>Donate to our</p>
      <p matLine class="notranslate">Open Collective</p>
    </a>
  </mat-nav-list>
</div>