@import '~midnight-lizard-vendor/themes/light-theme.scss';
@import '~@angular/material/theming';

:host
{
    z-index: 100;
    @include mat-elevation(6);
}

nav
{
    text-shadow: 0px 0px 1px $ml-background;
    /*text-shadow: 0px 0px 1px black;*/
}

nav
{
    height: 100%;

    a
    {
        height: 100%;
        border-radius: 0px;
        vertical-align: middle;
        line-height: 64px;
    }

    a[style*="block"]
    {
        display: inline-block !important;
    }
}

nav.small
{
    a
    {
        line-height: 54px;
    }
}

nav a.home-link
{
    font-size: 18px !important;
}

nav a.home-link:before
{
    content: "";
    background-image: url(/assets/ml-toolbar-icon-128.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: -10px 5px -10px 0px;
}

nav .active-link:after
{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: solid 2px mat-color($ml-accent, A700);
}

.mat-icon-button[fxhide]
{
    display: none;
}

.mat-icon-button.show
{
    display: inline-block !important;
}
