<mat-toolbar color="primary">
    <button mat-icon-button (click)="onSidenavToggleClick.emit()"
            matTooltip="Toggle<br/>navigation">
        <mat-icon>menu</mat-icon>
    </button>
    <nav ngClass.lt-sm="small">
        <a *ngFor="let item of items"
           mat-button routerLinkActive="active-link"
           [ngClass]="item.class"
           [matTooltip]="item.tooltip"
           [routerLink]="[item.link]"
           #state="routerLinkActive"
           [fxHide.lt-sm]="!state.isActive">
            {{item.title}}
        </a>
    </nav>
    <span fxFlex></span>
    <button mat-icon-button [matMenuTriggerFor]="menu"
            matTooltip="Menu" fxHide ngClass.lt-sm="show">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" fxHide fxShow.lt-sm>
        <a *ngFor="let item of items" mat-menu-item
           [routerLink]="[item.link]"
           [matTooltip]="item.tooltip"
           matTooltipPosition="left">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.title}}</span>
        </a>
    </mat-menu>
    <ml-user-nav></ml-user-nav>
</mat-toolbar>