<button md-icon-button mdTooltip="Account menu"
        [mdMenuTriggerFor]="menu">
    <md-icon>person</md-icon>
</button>
<md-menu #menu="mdMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
    <span *ngIf="user$|async" md-menu-item disabled class="user-menu-header">
        Signed in as <strong>{{(user$|async).profile.preferred_username}}</strong>
    </span>
    <hr *ngIf="user$|async" class="user-menu-separator"/>
    <a *ngFor="let item of items$|async" md-menu-item
       [routerLink]="[item.link]"
       [mdTooltip]="item.tooltip"
       mdTooltipPosition="left">
        <md-icon>{{item.icon}}</md-icon>
        <span>{{item.title}}</span>
    </a>
</md-menu>