@import '~midnight-lizard-vendor/themes/light-theme.scss';

.user-menu-header
{
    white-space: normal;
    height: auto;
    color: $ml-gray-text-color;
    line-height: 24px;
    padding: 0 16px 8px 16px;
    text-overflow: clip;
}

.user-menu-separator
{
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0;
    color: $ml-gray-text-color;
    opacity: 0.8;
}