.error-container
{
    text-align: center;
}

.problem
{
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.commands
{
    margin-top: 30px;
}

    .commands > *
    {
        margin: 20px;
    }

.mat-raised-button
{
    width: 200px;
}
