<div class="error-container">
    <md-icon class="problem" color="warn">error</md-icon>
    <h2>This section is unavailable right now</h2>
    <p>Please try again later</p>
    <div class="commands">
        <a md-raised-button routerLink="/home">
            <md-icon>home</md-icon>
            Return to home page
        </a>
        <button md-raised-button onclick="window.location.reload()">
            <md-icon>refresh</md-icon>
            Refresh the page
        </button>
    </div>
</div>