.loading-container {
    text-align: center;
}

.spinner {
    display: inline-block;
}


.dot-1, .dot-2, .dot-3 {
    opacity: 0;
    animation-iteration-count: infinite;
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
}

.dot-1 {
    animation-name: dot-1;
}

.dot-2 {
    animation-name: dot-2;
}

.dot-3 {
    animation-name: dot-3;
}

@keyframes dot-1 {
    20% {
        opacity: 1;
    }
}

@keyframes dot-2 {
    40% {
        opacity: 1;
    }
}

@keyframes dot-3 {
    60% {
        opacity: 1;
    }
}
