<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenavToggleClick.emit()"
          class="mat-button mat-icon-button" matTooltip="Toggle side menu">
    <mat-icon>menu</mat-icon>
  </button>
  <nav mat-tab-nav-bar color="accent" fxLayoutAlign="stretch">
    <a *ngFor="let item of items" mat-tab-link
       routerLinkActive="active-link" [ngClass]="item.class"
       [matTooltip]="item.tooltip" [routerLink]="[item.link]"
       #state="routerLinkActive" [active]="state.isActive"
       [fxHide.lt-sm]="!state.isActive" [attr.badge]="item.badge">
      <mat-icon *ngIf="item.link==='/home'" class="logo"
                svgIcon="midnight-lizard"></mat-icon>
      {{item.title}}
    </a>
  </nav>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="menu"
          matTooltip="Menu" fxHide ngClass.lt-sm="show"
          class="mat-button mat-icon-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" fxHide fxShow.lt-sm>
    <a *ngFor="let item of items" mat-menu-item
       [routerLink]="[item.link]" [matTooltip]="item.tooltip"
       matTooltipPosition="left" [attr.badge]="item.badge">
      <mat-icon>{{item.icon}}</mat-icon>
      {{item.title}}
    </a>
  </mat-menu>
  <ml-info-nav></ml-info-nav>
  <ml-user-nav></ml-user-nav>
</mat-toolbar>