@import 'theme.scss';
:host {
    z-index: 100;
    @include mat-elevation(6);
}

nav {
    text-shadow: 0px 0px 1px $ml-background;
    /*text-shadow: 0px 0px 1px black;*/
}

.mat-tab-nav-bar {
    border-bottom-width: 0;
}

nav {
    height: 100%;
    a {
        height: 100%;
        border-radius: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 50vw;
        min-width: auto!important;
        opacity: 1!important;
    }
    a:before {
        content: attr(badge);
        position: absolute;
        color: mat-color($ml-warn, A700);
        right: 2px;
        bottom: 10px;
        line-height: 14px;
        font-size: 12px;
        transform: rotate(-25Deg);
        --ml-link-color:Text;
        --ml-link-active-color:Text;
        --ml-link-hover-color:Text;
        --ml-visitedlink-color:Text;
        --ml-visitedlink-active-color:Text;
        --ml-visitedlink-hover-color:Text;
    }
    .mat-icon.logo {
        line-height: 32px;
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }
}

.mat-menu-item:after {
    content: attr(badge);
    color: mat-color($ml-warn, A700);
    margin-left: 24px;
    display: block;
    float: right;
    font-size: 14px;
    --ml-link-color:Text;
    --ml-link-active-color:Text;
    --ml-link-hover-color:Text;
    --ml-visitedlink-color:Text;
    --ml-visitedlink-active-color:Text;
    --ml-visitedlink-hover-color:Text;
}

nav a.home-link {
    font-size: 20px !important;
}

.mat-icon-button[fxhide] {
    display: none;
}

.mat-icon-button.show {
    display: inline-block !important;
}