@import 'theme.scss';

:host-context(html[ml-mode="filter"]:not([ml-stage="preload"])) {
  .footer-root
  {
    background-color: white;
    text-shadow: 0px 0px 1px white;
    color: black;
  }
  .social-list
  {
      a, svg
      {
          color: black;
          fill: black;
      }
  }
}

.footer-root
{
    background-color: mat-color($ml-primary, 800);
    text-shadow: 0px 0px 1px black;
    color: $ml-background;
    fill: $ml-background;
    padding: 20px;
    box-sizing: border-box;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    place-content: stretch space-around;
    align-items: stretch;
    -webkit-box-align: stretch;
}

.footer-root.small
{
    .social-list
    {
        max-width: 180px;
        text-align: center;
    }
}

.footer-left
{
    box-sizing: border-box;
    flex: 0 1 auto;
    -webkit-box-flex: 0;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    max-width: 100%;
    place-content: stretch space-around;
    align-items: stretch;
    -webkit-box-align: stretch;

    .home-link
    {
        font-size: 20px !important;
        vertical-align: middle;
    }

    .home-link .mat-icon.logo {
        line-height: 32px;
        width: 32px;
        height: 32px;
    }

    .legal
    {
        text-align: center;
        line-height: 14px;
        margin-top: 20px;

        a:not(.mat-button)
        {
            color: mat-color($ml-accent,A100);
        }
        a:not(.mat-button):visited
        {
            color: mat-color($ml-visited,A100);
        }
    }
}

.social-list
{
    a, svg
    {
        color: $ml-background;
        fill: $ml-background;
    }
}

.mat-list-item
{
    .mat-list-icon
    {
        border-radius: 0!important;
    }

    .instagram-icon:not(important)
    {
        width: 26px;
        height: 26px;
        padding: 2px;
    }

    .twitter-icon:not(important)
    {
    }

    .google-plus-icon:not(important)
    {
        width: 31px;
        height: 31px;
        padding: 0px;
        margin-right: -6px;
        margin-left: 3px;
    }

    .facebook-icon:not(important)
    {
    }

    .telegram-icon:not(important) {
        .first {
            fill: mat-color($ml-primary, 900);
            --ml-text-fill:Background;
        }

        .second {
            fill: mat-color($ml-primary, 900);
            --ml-text-fill:Background;
        }

        .last {
            fill: mat-color($ml-primary, 800);
            --ml-text-fill:Background;
        }
    }
}

.mat-list-item:hover
{
    p {
        text-decoration: underline;
    }

    .instagram-icon:not(#imp) {
        fill: #ff99eb;
    }

    .twitter-icon:not(#imp) {
        fill: rgb(29, 161, 242);
    }

    .google-plus-icon:not(#imp) {
        fill: #ff7366;
    }

    .facebook-icon:not(#imp) {
        fill: #6496ff;
    }

    .github-icon:not(#imp) {
        fill: #0361cc;
    }

    .telegram-icon {
        circle {
            fill: url(#b);
        }

        .first {
            fill: #c8daea;
            --ml-text-fill:Text;
        }

        .second {
            fill: #a9c9dd;
            --ml-text-fill:Text;
        }

        .last {
            fill: url(#w);
        }
    }
}
