@import '~@angular/material/theming';

$ml-primary: mat-palette($mat-grey, 300, 100, 800);
$ml-accent: mat-palette($mat-blue, A400, A100, A700);
$ml-warn: mat-palette($mat-red);
$ml-background: mat-palette($mat-grey, 0, 0, 50);
$ml-content: mat-palette($mat-grey, 50, 0, 100);
$ml-text-color: $black-87-opacity;
$ml-gray-text-color: rgba(black,0.7);