@import 'theme.scss';

a.active-section .mat-line,
a.active-section .mat-list-icon
{
    color: mat-color($ml-accent);
}

a.active-section:hover .mat-line,
a.active-section:hover .mat-list-icon
{
    color: mat-color($ml-accent, A700);
}

mat-nav-list a[mat-list-item][class="mat-list-item"] .mat-line,
mat-nav-list a[mat-list-item][class="mat-list-item"] .mat-list-icon
{
    color: $ml-gray-text-color;
}

mat-nav-list a[mat-list-item][class="mat-list-item"]:hover .mat-line,
mat-nav-list a[mat-list-item][class="mat-list-item"]:hover .mat-list-icon
{
    color: $ml-text-color;
}
