<mat-nav-list>
  <a mat-list-item
     routerLink="/home"
     routerLinkActive="active-section"
     matTooltip="Landing page"
     matTooltipPosition="right">
    <mat-icon mat-list-icon>home</mat-icon>
    <p matLine>Home</p>
  </a>
  <a mat-list-item
     routerLink="/schemes"
     routerLinkActive="active-section"
     matTooltip="Color schemes"
     matTooltipPosition="right">
    <mat-icon mat-list-icon>styles</mat-icon>
    <p matLine>Color schemes</p>
  </a>
  <a mat-list-item
     routerLink="/privacy"
     routerLinkActive="active-section"
     matTooltip="Privacy Policy"
     matTooltipPosition="right">
    <mat-icon mat-list-icon>verified_user</mat-icon>
    <p matLine>Privacy Policy</p>
  </a>
  <a mat-list-item
     routerLink="/terms"
     routerLinkActive="active-section"
     matTooltip="Terms of Service"
     matTooltipPosition="right">
    <mat-icon mat-list-icon>description</mat-icon>
    <p matLine>Terms of Service</p>
  </a>
</mat-nav-list>